aside {
    background-color: #ededed;
    width: 0px;
    margin-top: 5px;
    position: absolute;
    z-index: 10;
    padding-top: 14px;
    height: 480px;
}

ul {
    text-align: left;
    list-style-type: none;
    width: 100%;
    height: 300px;
    overflow: auto;
}

.calc-type {
  height: 374px;
}

li.title {
  font-weight: bold;
  font-size: 20px;
}

.calc-type li {
  padding: 7%;
}
.calc-type li.active {
  background-color: #7DBBEA;
}
.calc-type li.active:hover {
  background-color: #73b0e2;
}
.calc-type li span{
  position: relative;
  left: 18%;
}

li {
  padding: 3%;
  cursor: default;
}


li.version:hover {
  background-color: #bdbdbd;
}

.side {
   display: inline;
   padding: 4% 3%;
   float: left;
   width: 18%;
 }

 .side:hover {
   background-color: #DEDEDE;
 }
 .side .line {
   background-color: black;
   width: 70%;
   height: 1px;
   margin: 4px;
 }

 #roomless {
   width: 82%;
   height: 40px;
 }

 #roomless li {
   position: relative;
   top: 5px;
   font-size: 20px;
   font-weight: bold;
 }
 .about {
  padding: 3%;
  background-color: #ededed;
  width: 100%;
  height: 52px;
  text-align: left;
 }

 .about li {
  font-size: 18px;
 }

 #hider {
  transition: width .4s;
 }
