<header>
  <p>
    Calculator
    <img src='cross.png' alt='edit window'/>
  </p>
</header>

<aside id='hider'>
  <ul class='calc-type'>
    <li id='first-option'>
      <div class='side' ng-click='ctrl.changeToggle(0)'>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
      </div>
      <ul id='roomless'><li>Calculator</li></ul>
    </li>
    <li class='version active'><span>Standard</span></li>
    <li class='version'><span>Scientific<span></li>
    <li class='version'><span>Programmer<span></li>
    <li class='version'><span>Date calculation<span></li>
    <li class='title'><span>Converter<span></li>
    <li class='version'><span>Currency<span></li>
    <li class='version'><span>Volume<span></li>
    <li class='version'><span>Length<span></li>
    <li class='version'><span>Weight and Mass<span></li>
    <li class='version'><span>Temperature<span></li>
    <li class='version'><span>Energy<span></li>
    <li class='version'><span>Area<span></li>
    <li class='version'><span>Speed<span></li>
    <li class='version'><span>Time<span></li>
    <li class='version'><span>Power<span></li>
    <li class='version'><span>Data<span></li>
    <li class='version'><span>Pressure<span></li>
    <li class='version'><span>Angle<span></li>
  </ul>

  <div class='separator'></div>
  <ul class='about'>
    <li><img src='info.png' alt='info icon'/>About</li>
  </ul>
</aside>


<nav ng-click='ctrl.changeToggle(1)' id='hiding'>
  <div class='menu'>
    <div class='line'></div>
    <div class='line'></div>
    <div class='line'></div>
  </div>
  <span id='logo'>Standard</span>
  <img src='clock.png' alt='time watcher'/>
</nav>

<display
  first='ctrl.first'
  second='ctrl.second'
  operator='ctrl.operator'>
</display>

<keyboard
first='ctrl.first'
second='ctrl.second'
operator='ctrl.operator'>
</keyboard>
