<header>
  <p>
    Calculator
    <img src='cross.png' alt='edit window'/>
  </p>
</header>

<aside id='hider'>
  <ul class='calc-type'>
    <li id='first-option'>
      <div class='side' ng-click='ctrl.changeToggle(0)'>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
      </div>
      <ul id='roomless'><li>Calculator</li></ul>
    </li>
    <li class='version active'><span>Standard</span></li>
    <li ng-repeat="item in ctrl.list"
        ng-class="{ 'version': item !== 'Converter', 'title': item === 'Converter' }">
      <span>{{item}}<span>
    </li>
  </ul>

  <div class='separator'></div>
  <ul class='about'>
    <li><img src='info.png' alt='info icon'/>About</li>
  </ul>
</aside>


<nav ng-click='ctrl.changeToggle(1)' id='hiding'>
  <div class='menu'>
    <div class='line'></div>
    <div class='line'></div>
    <div class='line'></div>
  </div>
  <span id='logo'>Standard</span>
  <img src='clock.png' alt='time watcher'/>
</nav>

<display
  first='ctrl.first'
  second='ctrl.second'
  operator='ctrl.operator'>
</display>

<keyboard
first='ctrl.first'
second='ctrl.second'
operator='ctrl.operator'>
</keyboard>
