 calculator {
   position:relative;
   top: 200px;
   margin:auto;
   display: block;
   width: 322px;
   height: 525px;
   text-align: center;
   border: 1px solid #278ad8;
   background-color: #ededed;
   box-shadow: 2px 2px 40px rgba(200, 200, 200, 1);
 }

 header {
  padding: 0 0 5px 0;
 }

  /* windows */
 #logo {
   position: relative;
   top: -12px;
   cursor: default;
 }
 header div {
   text-align: left;
   padding-left: 4%;
   font-size: 13px;
   cursor: default;
 }
 .close {
   position: relative;
   right: -96px;
   display: inline-block;
   width: 170px;
   cursor: default;
 }

 .window-btn {
   padding: 1px 18px;
   margin: 0px -2px;
   font-size: 26px;
   display: inline-block;
   background-color: inherit;
   text-align: center;

 }

 .window-btn:hover {
   background-color: #DEDEDE;
 }

 #cross {
   font-size: 16px;
   padding: 7px 18px 4px 18px;
 }
 #cross:hover {
   background-color: red;
 }

nav {
    font-size: 26px;
    text-align: left;
}

nav  img {
  padding-left: 4%;
  position: absolute;
  top: 55px;
  left: 254px;
}
 .menu {
   display: inline-block;
   padding: 4% 3%;
   margin: 5px;
   position: relative;
   left: -4px;
   top: 8px;
 }

 .menu:hover {
   background-color: #DEDEDE;
 }
 .menu .line {
   background-color: black;
   width: 20px;
   height: 1px;
   margin: 4px;
 }
