* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 main {
   position:relative;
   top: 200px;
   margin:auto;
   display: block;
   width: 30%;
   text-align: center;
   border: 1px solid skyblue;
   border-radius: 5px;
 }

 display {
   display: block;
   margin: auto;
   border: 1px solid grey;
   background-color: #fafafa;
   border-radius: 5px;
   height: 120px;
   overflow: auto;
 }

 .computeResult {
   position: relative;
   text-align: right;
   font-size: 1em;
   margin-right: 1%;
 }

 keyboard {
   display: block;
   border: none;
   margin: auto;
   background-color: lightgrey;
   width: 100%;
   height: 100%;
 }

button {
   border: none;
   margin: 0;
   height: 100%;
   width: 100%;
   display: block;
 }
 .buttons {
   border: none;
   margin: 0;
   height: 100%;
   width: 100%;
   display: block;
 }
 .input-values {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
 }

 .key {
   display: inline-block;
   background-color: white;
   width: 24.8%;
   height: 50px;
   font-weight: bold;
   font-size: 1.5em;
   text-align: center;
   margin: .1% .1%;
   cursor: pointer;
 }

 .key:hover {
   background-color: lightgreen;
 }
 div.key:active {
   background-color: skyblue;
 }
 .btn {
   position: relative;
   bottom: -40%;
 }

 .operators:hover {
   background-color: yellow;
 }

 p.reset {
   display: inline-block;
   padding:5% 0 10%;
   height: 50px;
   font-size: 2em;
   font-weight: bold;
   background-color: white;
   text-align: center;
   cursor: pointer;
 }

 p.reset:hover {
   background-color: red;
 }
 p.reset:active {
   background-color: lightgreen;
 }

 #equil {
   background-color: #4CAF50;
   width: 49.8%;
   height: 50px;
   padding:5% 0 10%;
 }
 #equil:hover {
   background-color: lightgreen;
 }
