* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 calculator {
   position:relative;
   top: 200px;
   margin:auto;
   display: block;
   width: 322px;
   height: 520px;
   text-align: center;
   border: 1px solid #278ad8;
   background-color: #ededed;
   box-shadow: 2px 2px 40px rgba(200, 200, 200, 1);
 }
  /* windows */
 #logo {
   position: relative;
   top: -12px;
 }
 header p {
   text-align: left;
   padding-left: 4%;
   font-size: 13px;
 }
 header p img {
   top: 7px;
   position: relative;
   right: -116px;
 }

nav {
    font-size: 26px;
    text-align: left;
}

nav  img {
  padding-left: 4%;
  position: relative;
  top: 9px;
  right: -87px;
}
 .menu {
   display: inline-block;
   padding: 4% 3%;
   margin: 5px;
   position: relative;
   left: -4px;
   top: 8px;
 }

 .menu:hover {
   background-color: #DEDEDE;
 }
 .menu .line {
   background-color: black;
   width: 20px;
   height: 1px;
   margin: 4px;
 }

 /* screen */

 display {
   display: block;
   margin: auto;
   background-color: #ededed;
   height: 100px;
   overflow: auto;
 }

 .computeResult {
   position: relative;
   text-align: right;
   font-size: 26px;
   margin-right: 4%;
 }

 #screen {
   position: relative;
   top: 34px;
 }

 /* keyboard */

 keyboard {
  display: block;
  height: 313px;
 }
 .input {
   height: 314px;
 }
 button {
   width: 23.3%;
   margin: 1.5% 0 0 1.5%;
   height: 15%;
   background-color: #f4f4f4;
   border: none;
   padding: 2% 0;
   float: left;
 }

 /* #first {
   float: left;
 } */
 .m {
   width: 100%;
 }
 .m button {
   width: 16.5%;
   display inline-block;
   border: none;
   margin: 0;
   background-color: inherit;
   color: #bdbdbd;
   padding: 1% 0;
 }

 .m button.enabled {
   color: black;
 }

 button.enabled:hover {
   background-color: #DEDEDE;
 }

 button.numeric {
   background-color: white;
   font-weight: bold;
   font-size: 20px;
 }

 button.arithmetic:hover {
   background-color: #7DBBEA;
   border: 1px solid #9DC8EA;
   color: white;
 }
