header {
    font-size: 14px;
}

header .title {
    display: inline-block;
    margin-left: 10px;
    line-height: 31px;
}

header .options {
    display: inline-block;
    float: right;
}

header .btn {
    width: 46px;
    height: 31px;
    display: inline-block;
    cursor: default;
    text-align: center;
    line-height: 31px;
}

header .btn:hover {
    background-color: #DEDEDE;
}

header .btn.close:hover {
    background-color: red;
    color: white;
}
