header {
    display: block;
    font-size: 13px;
    height: 33px;
    margin-bottom: 16px;
 }

 header span {
    position: relative;
    top: 12px;
    left: 16px;
 }

 .top {
    float: right;
    clear: fixed;
 }

 .top-btn {
    padding: 0px 18px;
    margin: 0px -2px;
    font-size: 26px;
    display: inline-block;
 }

 .top-btn:hover {
    background-color: #DEDEDE;
    color: white;
 }

 .top-btn span {
    position: relative;
    top: -3px;
    left: 0px;
 }

 #cross {
    font-size: 16px;
    padding: 7px 19px 3px 18px;
 }
 #cross:hover {
    background-color: red;
 }
