navigator {
    display: block;
}

navigator  img {
    position: absolute;
    top: 50px;
    right: 10px;
}

 navigator div.title {
     line-height: 48px;
     font-size: 19px;
     display: inline-block;
     margin-left: 55px;
}

 navigator .menu-btn {
     margin-bottom: -15px;
     position: absolute;
     z-index: 2;
 }

 .menu-btn {
     height: 48px;
     width: 55px;
     display: inline-block;
     padding-top: 15px;
     padding-left: 13px;
 }

 .menu-btn:hover {
    background-color: #DEDEDE;
 }

 .menu-btn .line {
    background-color: black;
    width: 20px;
    height: 1px;
    margin: 4px;
 }
