 btn {
    width: 25%;
    height: 16.6666%;
    background-color: #f4f4f4;
    padding: 2% 0;
    float: left;
    font-size: 18px;
    cursor: default;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column
 }

 btn:focus {
    outline: none;
 }

 btn.white {
    background-color: white;
 }
 .m-btn btn {
    width: 16.5%;
    height: 29px;
    display inline-block;
    background-color: white;
    color: #bdbdbd;
    padding: 1% 0;
    font-size: 12px;
 }

 .m-btn btn:hover {
     background-color: white;
 }

 .m-btn btn.enabled {
     color: black;
 }

 .m-btn btn.enabled:hover {
     background-color: #DEDEDE;
 }

 .m-btn btn.tooltip {
    position: relative;
    display: inline-block;
 }

/* Tooltip text */
 .tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: #bdbdbd;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -32px;
    right: -33px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;

 }

/* Show the tooltip text when you mouse over the tooltip container */
 .tooltip:hover .tooltiptext {
    transition: opacity 2s, visibility 2s;
    transition-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
 }

 btn:hover {
    background-color: #DEDEDE;
 }

 btn.numeric {
    font-weight: bold;
    font-size: 24px;

 }

 btn.arithmetic {
    font-size: 30px;
 }

 btn.arithmetic:hover {
    color: white;
 }

 #equil:hover {
     background-color: blue;
 }

 #multiple {
    font-size: 18px;
    font-weight: bold;
 }

 #multiple span {
    vertical-align: -10px;
 }

 btn:active {
     background-color: #c8c8c8;
 }
