 .btn {
     width: 25%;
     height: 55px;
     float: left;
     font-size: 18px;
     text-align: center;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }

 .btn-separator {
     width: 100%;
     border-color: rgba(199,199,199,0.4);
     margin-bottom: -1px;
 }

 .btn:hover {
    background-color: #DEDEDE;
 }

 .btn:active {
    background-color: #c8c8c8;
 }

 .btn:focus {
    outline: none;
 }

 .m-buttons .memory {
    width: 16.5%;
    height: 29px;
    color: #bdbdbd;
    font-size: 12px;
 }

 .m-buttons .memory:hover {
    background-color: white;
 }

 div.m-buttons div.tooltip {
    position: relative;
    color: black;
 }

 div.m-buttons div.tooltip:hover {
    background-color: #DEDEDE;
 }

/* Tooltip text */
 div.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: #bdbdbd;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -32px;
    right: -33px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;
 }

/* Show the tooltip text when you mouse over the tooltip container */
 div.m-buttons div.tooltip:hover .tooltiptext {
    transition: opacity .5s;
    transition-timing-function: ease-in;
    visibility: visible;
    opacity: 1;
 }

 btn div.number {
    font-weight: bold;
    font-size: 24px;
 }

 div.operator {
    font-size: 30px;
 }

 div.operator:hover {
    color: white;
 }

 btn div.module {
     font-size: 18px;
 }

 btn div.module:hover {
     color: black;
 }

 btn div.equil:hover {
     background-color: #0078d7;
 }

 btn div.multiple {
    font-size: 18px;
 }

 .font-size30 {
     font-size: 30px;
 }
