 btn {
   width: 25%;
   height: 55px;
   background-color: #f4f4f4;
   border: none;
   padding: 2% 0;
   float: left;
   font-size: 18px;
   cursor: default;
   text-align: center;
 }

 btn:focus {
  outline: none;
}

 .m-btn btn {
   width: 16.5%;
   height: 29px;
   display inline-block;
   border: none;
   color: #bdbdbd;
   padding: 1% 0;
   font-size: 13px;
 }

.enabled span{
  vertical-align: -54%;
}

 .m-btn btn.enabled {
   color: black;
 }

  .m-btn btn.enabled span {
   vertical-align: -30%;
 }

.m-btn btn.tooltip {
    position: relative;
    display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: #bdbdbd;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -32px;
    right: -33px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    transition: opacity 2s, visibility 2s;
    transition-timing-function: ease-in;
    visibility: visible;
    opacity: 1;

}

 btn.enabled:hover {
   background-color: #DEDEDE;
 }

 btn.numeric {
   background-color: white;
   font-weight: bold;
   font-size: 24px;
   
 }

 btn.numeric span{
  vertical-align: -7px;
}


 btn.arithmetic {
  font-size: 30px;
 }

  btn.arithmetic span{
    vertical-align: -5px;
 }

 btn.arithmetic:hover {
   background-color: #7DBBEA;
   color: white;
 }

 #multiple {
   font-size: 18px;
   font-weight: bold;
 }

 #multiple span {
   vertical-align: -10px;
 }
