hat {
   padding: 11px 0 12px 12px;
   display: block;
   font-size: 13px;
   cursor: default;
 }

 .top {
   float: right;
   cursor: default;
   position: relative;
   top: -12px;
 }

 .top-btn {
   padding: 1px 18px;
   margin: 0px -2px;
   font-size: 26px;
   display: inline-block;
 }

 .top-btn:hover {
   background-color: #DEDEDE;
   color: white;
 }

 #cross {
   font-size: 16px;
   padding: 7px 18px 4px 18px;
 }
 #cross:hover {
   background-color: red;
 }
