<div class='m-btn'>
  <button>MC</button>
  <button>MR</button>
  <button class='enabled tooltip'>M+<span class="tooltiptext">Memory add</span></button>
  <button class='enabled tooltip'>M-<span class="tooltiptext">Memory subtract</span></button>
  <button class='enabled tooltip'>MS<span class="tooltiptext">Memory store</span></button>
  <button>M^</button>
</div>

<div class='btn-separator'></div>

<div class='input'>
  <button class='enabled' id='first' ng-click="button.setOperator('%')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>%</button>
  <button class='enabled' ng-click="button.getSquareRoot()" first='keyboard.first'>√</button>
  <button class='enabled' ng-click="button.bringToPower()" first='keyboard.first'>x<sup>2</sup></button>
  <button class='enabled' ng-click="button.divideOneByFirst()" first='keyboard.first'><sup>1</sup>/<sub>x</sub></button>

  <button class='enabled'>CE</button>
  <button class='enabled'ng-click="button.reset()" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>C</button>
  <button class='enabled' ng-click="button.back()" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>&#9003;</button>
  <button class='enabled arithmetic' ng-click="button.setOperator('/')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>&#247;</button>

  <button class='numeric enabled' ng-click="button.setValue('7')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>7</button>
  <button class='numeric enabled' ng-click="button.setValue('8')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>8</button>
  <button class='numeric enabled' ng-click="button.setValue('9')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>9</button>
  <button class='enabled arithmetic' id='multiple' ng-click="button.setOperator('*')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>&#10005;</button>

  <button class='numeric enabled' ng-click="button.setValue('4')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>4</button>
  <button class='numeric enabled' ng-click="button.setValue('5')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>5</button>
  <button class='numeric enabled' ng-click="button.setValue('6')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>6</button>
  <button class='enabled enabled arithmetic'  ng-click="button.setOperator('-')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>&#8211;</button>

  <button class='numeric enabled' ng-click="button.setValue('1')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>1</button>
  <button class='numeric enabled' ng-click="button.setValue('2')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>2</button>
  <button class='numeric enabled' ng-click="button.setValue('3')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>3</button>
  <button class='enabled arithmetic'  ng-click="button.setOperator('+')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>+</button>

  <button class='enabled' ng-click='button.changeMinus()'>&#177;</button>
  <button class='numeric enabled' ng-click="button.setValue('0')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>0</button>
  <button class='numeric enabled' ng-click="button.handleDecimalDot('.')" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>.</button>
  <button class='enabled arithmetic' ng-click="button.handleEquilButton()" first='keyboard.first' second='keyboard.second' operator='keyboard.operator'>=</button>
</div>
