 /* keyboard */

 keyboard {
     display: block;
 }

 .m-btn {
     height: 24px;
 }

 .btn-separator {
    border-color: #fff;
    margin-top: 5px;
    opacity: 0.4;
 }

 .input {
    height: 330px;
    margin-top: -2px;
 }

 sup {
    font-size: 11px;
 }
