 /* keyboard */

 keyboard {
  display: block;
 }

 .m-btn {
 	height: 24px;
 }

 .btn-separator {
   border-bottom: 1px solid #ddd;
   margin: auto;
   margin-top: 5px;
 }

 .input {
   height: 330px;
 }

sup {
	font-size: 11px;
}
