<ul class='calc-type'>
    <li id='first-option'>
        <div class='side' ng-click='ctrl.changeToggle(0)'>
            <div class='line'></div>
            <div class='line'></div>
            <div class='line'></div>
        </div>
        <ul id='roomless'><li>Calculator</li></ul>
    </li>

    <li ng-repeat="item in menu.list"
        ng-class="{ 'active': item === 'Standard' ,
                    'version': item !== 'Converter',
                    'title': item === 'Converter'}"
        ng-click='menu.makeActiveTab($event)'>
        <span>{{item}}</span>
    </li>
</ul>

<hr class='separator'/>

<div class='about'>
    <span class='info'><i class="fa fa-info-circle" aria-hidden="true"></i></span>
    <span class='about-text'>About</span>
</div>
