menu {
    background-color: #ededed;
    width: 250px;
    left: -250px;
    position: absolute;
    z-index: 1;
    display: block;
    transition: left .2s;
}

menu ul {
    list-style-type: none;
    overflow: auto;
}

li {
    cursor: default;
}

.calc-type {
    height: 441px;
}

li.title {
    font-weight: bold;
    font-size: 20px;
}

.calc-type li {
    padding: 14px;
}

.calc-type li.version {
    padding: 17px 0px 17px 30px;
}

.calc-type li.active {
    background-color: #7DBBEA;
}

.calc-type li.active:hover {
    background-color: #73b0e2;
}

.calc-type li span{
    position: relative;
    left: 40px;
}

#first-option {
    padding: 0;
    height: 38px;
}

li.version:hover {
    background-color: #DEDEDE;
}

.side {
    display: inline-block;
    padding: 9.5px 12px;
    float: left;
    width: 22%;
    font-size: 19px;
 }

 .side:hover {
    background-color: #DEDEDE;
 }

 .side .line {
    background-color: black;
    width: 80%;
    height: 1px;
    margin: 4px;
 }

 #roomless {
    width: 78%;
 }

 #roomless li {
    position: relative;
    top: -5px;
    left: -5px;
    font-size: 20px;
    font-weight: bold;
 }

 .separator {
    margin: auto;
    margin-top: 5px;
    width: 90%;
 }

 .about {
    font-size: 18px;
    height: 51px;
    padding-top: 16px;
    padding-left: 14px;
 }

 .about:hover {
    background-color: #DEDEDE;
 }

 .about .info {
    margin-top: 10px;
    margin-right: 23px;
 }

 .about-text {
    position: relative;
    top: -2px;
 }
