menu {
    background-color: #ededed;
    width: 250px;
    left: -250px;
    position: absolute;
    z-index: 1;
    transition: left .2s;
}

menu .menu-items {
    height: 450px;
    overflow: auto;
    list-style-type: none;
}

 menu .menu-items li.roomless {
    margin-left: 55px;
    line-height: 48px;
    font-size: 20px;
    font-weight: bold;
 }

menu .menu-items li.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    padding-left: 44px;
}

menu .menu-items li.version {
    line-height: 51px;
    padding-left: 65px;
}

menu .menu-items li.active {
    background-color: #7DBBEA;
}

menu .menu-items li.active:hover {
    background-color: #73b0e2;
}

li.version:hover {
    background-color: #DEDEDE;
}

 menu hr.separator {
    margin: auto;
    margin-top: 5px;
    width: 90%;
 }

 menu .about {
     font-size: 18px;
     line-height: 51px;
     padding-left: 14px;
 }

 menu .about:hover {
    background-color: #DEDEDE;
 }

 menu .about .info {
    margin-right: 23px;
 }
