<ul class='menu-items'>
    <li ng-repeat="item in menu.list"
        ng-class="{ 'active': item === 'Standard' ,
                    'roomless': item === 'Calculator' ,
                    'version': item !== 'Converter' && item !== 'Calculator',
                    'title': item === 'Converter'}"
        ng-click='menu.makeActiveTab($event)'>
            {{item}}
    </li>
</ul>

<hr class='separator'/>

<div class='about'>
    <i class="fa fa-info-circle info" aria-hidden="true"></i>
    About
</div>
