/* screen */

 display {
   display: block;
   margin: auto;
   background-color: #ededed;
   height: 100px;
   overflow: hidden;
   width: 100%;
   cursor: default;
 }

 .screen {
   position: relative;
   top: 24px;
   font-size: 51px;
   margin-right: 4%;
   text-align: right;
 }

 h1.second-screen {
   font-size: 18px;
   top: 0px;
   color: #aaa;
 }
